body {
    background-color: green
}

p {
    color: black;
}

H1 {
    color: red
}

p {
    font-size: 12px;
    font-family: arial;
    font-style: italic;
    font-weight: bold;
}

.img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: solid 5px;

}

.medium {
    width: 300px;
    background-color: red;
}

.small {
    width: 150px;
    background-color: pink;
}

.coupon {
    border: solid 10px red;
}

p {
    border-radius: 30px 30px 30px 30px;
    background-color: lightblue;
    border: solid 5px black
}

.center {
    text-align: center;
}

img {
    margin-top: 200px;
    margin-bottom: 100ps;
    margin-right: 300px;
    margin-left: 100px;
}

img {
    padding: 20px 20px 20px 20px;
}
